@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.container {
  width: 71%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (max-width: 1600px) {
  .container {
    width: 96%;
  }
}

.header {
  background-color: #222222;
  position: relative;
}

.header__navigation {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
}

@media (max-width: 768px) {
  .header__navigation {
    transform: translate(-50%, 10px);
  }
}

.header__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  margin: 37px 143px 24px 34px;
}

.header__sub-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #F16D7F;
  margin: 0 144px 12px 33px;
}

.header__sub-navigation-link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  margin: 0 98px 0 54px;
  padding: 12px 0 0 0;
  text-decoration: none;
}

.header__sub-navigation-list {
  margin-bottom: 20px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  background: transparent;
  border: none;
  margin: 0 33px 0 0;
}

.header__button:hover + .header__navigation {
  display: block;
}

.header__link {
  margin: 0 33px 0 0;
}

.header__link:hover .header__button-icon {
  fill: #F16D7F;
}

.header__link:active .header__button-icon {
  fill: #F1E4E6;
}

.header__link-opacity:hover, .header__link-opacity:focus {
  opacity: 0.7;
}

@media (max-width: 1600px) {
  .header {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 16px;
  }
  .header__link {
    display: none;
  }
  .header__link-opacity {
    display: none;
  }
}

.brand {
  max-width: 1600px;
  display: flex;
  margin: auto 0 63px auto;
}

@media (max-width: 768px) {
  .brand {
    min-height: 363px;
  }
}

.brand__title-container {
  background: #F1E4E6;
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
}

@media (max-width: 1600px) {
  .brand__title-container {
    padding: 0 0 0 69px;
  }
}

@media (max-width: 768px) {
  .brand__title-container {
    padding: 0 0 0 83px;
  }
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  margin-left: 16px;
}

@media (max-width: 1600px) {
  .brand__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
  }
}

@media (max-width: 768px) {
  .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
  }
}

.brand__sub-title {
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
  display: block;
}

@media (max-width: 1600px) {
  .brand__sub-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .brand__sub-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}

.brand__pink-sub-title {
  color: #F16D7F;
}

.brand__img {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .brand__img {
    display: none;
  }
}

.promotions__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promotions__item {
  width: 31%;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1600px) {
  .promotions__item {
    width: 31%;
    min-height: 168px;
    margin: 0 0 19px;
  }
}

@media (max-width: 768px) {
  .promotions__item {
    width: 100%;
    min-height: 247px;
    margin: 0 0 32px;
  }
}

.promotions__item--woman {
  background-image: url("../img/promotion-woman.jpg");
  background-size: cover;
}

.promotions__item--man {
  background-image: url("../img/promotion-man.jpg");
  background-size: cover;
}

.promotions__item--kids {
  background-image: url("../img/promotion-kids.jpg");
  background-size: cover;
}

.promotions__item--accesories {
  background-image: url("../img/promotion-accesories.jpg");
  background-size: cover;
  width: 100%;
  text-decoration: none;
  margin-top: 30px;
}

@media (max-width: 1600px) {
  .promotions__item--accesories {
    min-width: 116px;
  }
}

@media (max-width: 768px) {
  .promotions__item--accesories {
    margin: 0;
  }
}

.promotions__title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.promotions__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
  text-align: center;
  text-transform: uppercase;
}

.promotions__link {
  text-decoration: none;
}

.product__img {
  display: block;
  position: relative;
}

@media (max-width: 375px) {
  .product__img {
    width: 100%;
  }
}

.product__button {
  width: 138px;
  height: 43px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.product__button-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product__img-overlay {
  width: 100%;
  height: 100%;
  background: #211616;
  opacity: 0.7;
  position: absolute;
  top: 0;
  display: none;
}

.products__item:hover .product__img-overlay {
  display: block;
}

.products__item:hover .product__button {
  display: block;
}

.products__title-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 97px 0 48px 0;
}

@media (max-width: 768px) {
  .products__title-box {
    margin: 64px 0 64px 0;
  }
}

.products__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.products__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .products__list {
    flex-direction: column;
    align-items: center;
  }
}

.products__item {
  width: 360px;
}

@media (max-width: 375px) {
  .products__item {
    width: 100%;
  }
}

.product__description {
  background: #F8F8F8;
  padding: 25px 29px;
}

.product_button {
  display: none;
}

.product__title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.product__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  padding-top: 13px;
}

.product__price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
  padding-top: 18px;
}

.products__button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0 95px 0;
}

.products__button {
  padding: 14px 38px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  width: 211px;
  height: 47px;
  background: white;
}

.products__button:hover,
products__button:focus {
  color: #FFFFFF;
  background: #F16D7F;
}

.benefit {
  background-color: #222224;
  margin: 0 auto;
}

.benefit__list {
  display: flex;
  justify-content: space-between;
  min-height: 341px;
  align-items: center;
}

@media (max-width: 1600px) {
  .benefit__list {
    flex-direction: column;
    padding: 0 0 64px 0;
  }
}

@media (max-width: 768px) {
  .benefit__list {
    padding: 0 0 81px 0;
  }
}

.benefit__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}

@media (max-width: 1600px) {
  .benefit__item {
    padding-top: 48px;
  }
}

.benefit__text {
  text-align: center;
  margin-top: 16px;
  color: #FBFBFB;
}

.benefit__img {
  display: block;
  margin-bottom: 28px;
}

.benefit__title {
  color: #FBFBFB;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.footer__subscription {
  background-image: url("../img/beach.jpg");
  min-height: 448px;
  background-size: cover;
  display: flex;
  align-items: center;
}

@media (max-width: 1600px) {
  .footer__subscription {
    flex-direction: column;
    padding: 54px 0 140px 0;
  }
}

@media (max-width: 768px) {
  .footer__subscription {
    padding: 54px 0 110px 0;
  }
}

.footer__review {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__review-img {
  display: block;
  width: 144px;
  height: 150px;
}

@media (max-width: 768px) {
  .footer__review-img {
    width: 138px;
    height: 143px;
  }
}

.footer__review-text {
  max-width: 360px;
  max-height: 99px;
  text-align: center;
  margin-top: 30px;
}

.footer__quote {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 768px) {
  .footer__quote {
    font-size: 19px;
    line-height: 23px;
    font-weight: 400;
  }
}

.footer__quote-italic {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 768px) {
  .footer__quote-italic {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: italic;
  }
}

.footer__subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer__subscribe-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1600px) {
  .footer__subscribe-title {
    padding: 48px 0 0 0;
  }
}

@media (max-width: 1600px) {
  .footer__subscribe-title {
    padding: 59px 0 0 0;
  }
}

.footer__subscribe-subtitle {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.footer__subscribe-form {
  display: flex;
  justify-content: center;
}

.footer__subscribe-input {
  margin-top: 32px;
  width: 322px;
  height: 49px;
  background: #E1E1E1;
  border-radius: 50px 0 0 50px;
  border: none;
  text-indent: 22px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

@media (max-width: 768px) {
  .footer__subscribe-input {
    width: 309px;
    height: 47px;
  }
}

.footer__subscribe-button {
  margin-top: 32px;
  border-radius: 0 50px 50px 0;
  width: 100px;
  height: 49px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  padding: 7px 7px 6px 8px;
  background: #F16D7F;
  margin-left: -80px;
  border: none;
}

@media (max-width: 768px) {
  .footer__subscribe-button {
    width: 100px;
    height: 49px;
  }
}

.footer__socials {
  background-color: #222224;
}

.footer__socials-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 79px;
}

@media (max-width: 768px) {
  .footer__socials-row {
    flex-direction: column-reverse;
    min-height: 143px;
  }
}

.footer__socials-list {
  display: flex;
}

@media (max-width: 768px) {
  .footer__socials-list {
    padding: 52px 0 40px 0;
  }
}

.footer__socials-item {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  margin: 0 7px 0 0;
  background-image: url(../img/background_social_white.png);
}

.footer__socials-item:hover {
  background-image: url(../img/background_social_rose.png);
}

.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #FBFBFB;
}

@media (max-width: 768px) {
  .footer__copyright {
    margin: 0 0 9px 0;
  }
}

/* Страница Registration   */
.registration__title {
  width: 100%;
  height: 148px;
  background-color: #F1E4E6;
  box-sizing: border-box;
}

.registration__heading {
  padding: 59px 103px 60px 103px;
  font-family: Lato;
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .registration__heading {
    text-align: center;
  }
}

.registration__box {
  display: flex;
}

@media (max-width: 768px) {
  .registration__box {
    flex-direction: column;
    margin-left: 9px;
    margin-right: 9px;
  }
}

.registration__form {
  margin-left: 231px;
  padding: 64px 128px 96px 0;
}

@media (max-width: 1600px) {
  .registration__form {
    margin-left: 17px;
    padding: 40px 23px 96px 0;
  }
}

@media (max-width: 768px) {
  .registration__form {
    margin: 40px auto;
    padding: 0;
  }
}

.registration__form-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.registration__form-item {
  margin-top: 21px;
  display: block;
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
}

::placeholder {
  text-indent: 17px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0em;
  color: #B1B1B1;
}

.registration__form-commit {
  width: 359px;
  height: 32px;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form-button {
  margin-top: 39px;
  width: 167px;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: none;
}

.radio {
  display: none;
}

.radio-label {
  display: inline-block;
  margin-top: 31px;
  position: relative;
  padding: 0 20px 33px 27px;
}

.radio-label:before {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  left: 0px;
  border-radius: 50%;
  border: 1px solid #A4A4A4;
}

.radio-label:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: 4px;
  top: 5px;
  border-radius: 50%;
  background: #222222;
  display: none;
}

.radio:checked + .radio-label:before {
  background: #222222;
}

.radio:checked + .radio-label:after {
  display: block;
}

.registration__loyalty-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-transform: uppercase;
  margin: 64px 0 22px 0;
}

@media (max-width: 1600px) {
  .registration__loyalty-title {
    margin: 40px 0 32px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }
}

@media (max-width: 768px) {
  .registration__loyalty {
    margin-bottom: 100px;
  }
}

.registration__loyalty-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 21px;
  width: 100%;
  height: 58px;
}

@media (max-width: 1600px) {
  .registration__loyalty-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin-right: 16px;
  }
}

.registration__loyalty-item {
  position: relative;
  padding-left: 43px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 16px;
}

@media (max-width: 1600px) {
  .registration__loyalty-item {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }
}

.registration__loyalty-item:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 16px;
  top: 6px;
  left: 0px;
  height: 15px;
  background-image: url("../img/checkbox.png");
  background-size: 20px 16px;
}

.product-page__title {
  display: flex;
  justify-content: space-between;
  min-height: 148px;
  background-color: #F8F3F4;
}

.product-page__heading {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #F16D7F;
  margin: 59px 0 60px 230px;
}

.breadcrumb-item {
  color: #F16D7F;
  text-transform: uppercase;
}

.breadcrumb-item-link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5D5D5D;
  text-decoration: none;
}

.breadcrumb {
  margin: 65px 230px 66px 0;
}

.women-collection__carousel {
  background-color: #F7F7F7;
}

.carousel__img-center {
  display: flex;
  justify-content: center;
  margin-bottom: 11px;
}

.w-100 {
  width: 597px;
}

.women-collection__description {
  position: relative;
  max-width: 1140px;
  margin-top: -40px;
  border: 1px solid #B1B1B1;
  z-index: 5;
  min-height: 601px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.women-collection__description-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #F16D7F;
  text-transform: uppercase;
  margin: 65px 0 12px 0;
}

.women-collection__description-subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  text-transform: uppercase;
  color: #4D4D4D;
  margin: 12px 0 48px 0;
}

.women-collection__description-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5E5E5E;
  max-width: 555px;
  min-height: 51px;
  text-align: center;
}

.women-collection__description-price {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #F16D7F;
  margin: 32px 0 65px 0;
}

.women-collection__parameter {
  display: flex;
}

.btn-secondary {
  background-color: transparent;
  border-color: transparent;
  color: #4D4D4D;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.women-collection__product-button {
  margin: 49px 0 65px 0;
  width: 138px;
  height: 43px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1px solid #F16D7F;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #F16D7F;
}

.products_in_product-page {
  margin: 129px 0 128px 0;
}

.cart-page__title {
  display: flex;
  justify-content: space-between;
  min-height: 148px;
  background-color: #F8F3F4;
}

.cart-page__heading {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #F16D7F;
  margin: 59px 0 60px 230px;
}

@media (max-width: 1600px) {
  .cart-page__heading {
    margin: 59px 0 60px 16px;
  }
}

@media (max-width: 768px) {
  .cart-page__heading {
    margin: auto;
  }
}

.cart {
  display: flex;
}

@media (max-width: 1600px) {
  .cart {
    flex-direction: column;
  }
}

.cart__content {
  margin: 96px 128px 128px 230px;
}

@media (max-width: 1600px) {
  .cart__content {
    margin: 59px 18px 64px 16px;
  }
}

@media (max-width: 768px) {
  .cart__content {
    margin: 39px 8px 48px 9px;
  }
}

.cart__product {
  position: relative;
  display: flex;
  margin: 0 0 40px 0;
  box-shadow: 15px 15px 10px #E5E5E5;
}

.cart__product-img {
  height: 50%;
  width: auto;
}

@media (max-width: 768px) {
  .cart__product-img {
    width: 143px;
    max-height: 188px;
  }
}

.cart__product-aside {
  min-width: 390px;
  min-height: 306px;
}

@media (max-width: 768px) {
  .cart__product-aside {
    min-height: 188px;
  }
}

.cart__product-close {
  position: absolute;
  right: 22px;
  top: 28px;
}

@media (max-width: 1600px) {
  .cart__product-close {
    right: 24px;
    top: 28px;
  }
}

@media (max-width: 768px) {
  .cart__product-close {
    right: 12px;
    top: 17px;
    transform: scale(0.5);
  }
}

.cart__product-title,
.cart__product-subtitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

@media (max-width: 768px) {
  .cart__product-title,
  .cart__product-subtitle {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
}

.cart__product-title {
  margin: 22px 0 0 31px;
}

@media (max-width: 768px) {
  .cart__product-title {
    margin: 13px 0 0 17px;
  }
}

.cart__product-subtitle {
  margin: 0 0 42px 31px;
}

@media (max-width: 768px) {
  .cart__product-subtitle {
    margin: 0 0 25px 17px;
  }
}

.cart__product-parameters {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 62px 32px;
  color: #5E5E5E;
}

@media (max-width: 768px) {
  .cart__product-parameters {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin: 0 0 38px 17px;
  }
}

.cart__product-price {
  color: #F26376;
}

.cart__product-quantity {
  width: 43px;
  border: 1px solid #EAEAEA;
  text-align: center;
  color: #5E5E5E;
}

.cart__buttons {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
}

.cart__button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  min-width: 234px;
  min-height: 49px;
  background: transparent;
  border: 1px solid #A4A4A4;
}

@media (max-width: 768px) {
  .cart__button {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    min-width: 174px;
    min-height: 32px;
    margin: 0;
    padding: 0;
  }
}

.cart-shipping {
  margin: 113px 230px 0 0;
}

@media (max-width: 1600px) {
  .cart-shipping {
    display: flex;
    justify-content: space-between;
    margin: 0 17px 128px 16px;
  }
}

@media (max-width: 768px) {
  .cart-shipping {
    flex-direction: column;
    margin: 0 7px 96px 9px;
  }
}

@media (max-width: 768px) {
  .cart-shipping__adress {
    margin: 0 auto;
  }
}

.cart-shipping__form-title {
  display: block;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222224;
}

.cart-shipping__form-item {
  display: block;
  min-width: 360px;
  min-height: 45px;
  text-indent: 17px;
  margin-top: 20px 0 0 0;
  border: 1px solid #A4A4A4;
  color: #222224;
}

.cart-shipping__form-button {
  min-width: 100px;
  min-height: 34px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  color: #A4A4A4;
  background: transparent;
  border: 1px solid #A4A4A4;
  margin-top: 24px;
}

.cart__total-price {
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  min-width: 360px;
  min-height: 214px;
  background-color: #F5F3F3;
}

@media (max-width: 1600px) {
  .cart__total-price {
    margin: 35px 17px 0 15px;
  }
}

@media (max-width: 768px) {
  .cart__total-price {
    margin: 48px 6px 0 9px;
    align-self: center;
  }
}

.cart__sub-total {
  margin: 39px 34px 0 0;
  text-align: right;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #A4A4A4;
}

.cart__grand-total {
  text-align: right;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #222224;
  margin: 12px 34px 0 0;
  text-transform: uppercase;
}

.cart__grand-total-price {
  color: #F26376;
}

.cart__total-price-line {
  margin: 21px auto 0 auto;
}

.cart__total-button {
  min-width: 273px;
  min-height: 50px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  background-color: #F16D7F;
  border: none;
  margin-top: 17px;
  align-self: center;
}
/*# sourceMappingURL=style.css.map */