$black-color: #222222;
$pink-color: #F1E4E6;
$dark-pink-color: #F16D7F;
$white-color: #FFFFFF;
$gray-color: #F8F8F8;
$darker-color: #9F9F9F;
$dark-color: #5D5D5D;
$red-rose-color: #F16D7F;
$red-ruby-rose: #F26376;
$beige-color: #FBFBFB;
$dark-gray: #222224;
$light-gray: #B1B1B1;