.cart-page__title {
    display: flex;
    justify-content: space-between;
    min-height: 148px;
    background-color: $light-pink-color;
}

.cart-page__heading {
    text-transform: uppercase;
    @include font(24px, 29px, 400);
    color: $dark-pink-color;
    margin: 59px 0 60px 230px;

    @include tablet {
        margin: 59px 0 60px 16px;
    }

    @include mobile {
        margin: auto;
    }
}

.cart {
    display: flex;

    @include tablet {
        flex-direction: column;
    }
}

.cart__content {
    margin: 96px 128px 128px 230px;

    @include tablet {
        margin: 59px 18px 64px 16px;
    }

    @include mobile {
        margin: 39px 8px 48px 9px;
    }
}

.cart__product {
    position: relative;
    display: flex;
    margin: 0 0 40px 0;
    box-shadow: 15px 15px 10px $shadow-color;
}

.cart__product-img {
    height: 50%;
    width: auto;

    @include mobile {
        width: 143px;
        max-height: 188px;
    }
}

.cart__product-aside {
    min-width: 390px;
    min-height: 306px;

    @include mobile {
        min-height: 188px;
    }
}

.cart__product-close {
    position: absolute;
    right: 22px;
    top: 28px;

    @include tablet {
        right: 24px;
        top: 28px;
    }

    @include mobile {
        right: 12px;
        top: 17px;
        transform: scale(0.5);
    }
}

.cart__product-title,
.cart__product-subtitle {
    @include font(24px, 29px, 400);
    text-transform: uppercase;
    color: $black-color;

    @include mobile {
        @include font(16px, 19px, 400)
    }
}

.cart__product-title {
    margin: 22px 0 0 31px;

    @include mobile {
        margin: 13px 0 0 17px;

    }
}

.cart__product-subtitle {
    margin: 0 0 42px 31px;

    @include mobile {
        margin: 0 0 25px 17px;
    }

}

.cart__product-parameters {
    @include font(22px, 26px, 400);
    text-transform: capitalize;
    margin: 0 0 62px 32px;
    color: $dark-text-color;

    @include mobile {
        @include font(14px, 17px, 400);
        margin: 0 0 38px 17px;
    }
}

.cart__product-price {
    color: $red-ruby-rose;
}

.cart__product-quantity {
    width: 43px;
    border: 1px solid $lighter-gray;
    text-align: center;
    color: $dark-text-color;
}

.cart__buttons {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

.cart__button {
    @include font();
    text-transform: uppercase;
    min-width: 234px;
    min-height: 49px;
    background: transparent;
    border: 1px solid $middle-gray-color;

    @include mobile {
        @include font(12px, 14px, 400);
        min-width: 174px;
        min-height: 32px;
        margin: 0;
        padding: 0;
    }
}

.cart-shipping {
    margin: 113px 230px 0 0;

    @include tablet {
        display: flex;
        justify-content: space-between;
        margin: 0 17px 128px 16px;
    }

    @include mobile {
        flex-direction: column;
        margin: 0 7px 96px 9px;
    }
}

.cart-shipping__adress {

    @include mobile {
        margin: 0 auto;
    }
}

.cart-shipping__form-title {
    display: block;
    @include font(16px, 19px, 300);
    text-transform: uppercase;
    color: $dark-gray;
}

.cart-shipping__form-item {
    display: block;
    min-width: 360px;
    min-height: 45px;
    text-indent: 17px;
    margin-top: 20px 0 0 0;
    border: 1px solid $middle-gray-color;
    color: $dark-gray;
}

.cart-shipping__form-button {
    min-width: 100px;
    min-height: 34px;
    text-transform: uppercase;
    @include font(11px, 13px, 300);
    color: $middle-gray-color;
    background: transparent;
    border: 1px solid $middle-gray-color;
    margin-top: 24px;
}

.cart__total-price {
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    min-width: 360px;
    min-height: 214px;
    background-color: $gray-background-color;

    @include tablet {
        margin: 35px 17px 0 15px;

    }

    @include mobile {
        margin: 48px 6px 0 9px;
        align-self: center;
    }
}

.cart__sub-total {
    margin: 39px 34px 0 0;
    text-align: right;
    @include font(11px, 13px, 400);
    color: $middle-gray-color;
}

.cart__grand-total {
    text-align: right;
    @include font(16px, 19px, 700);
    color: $dark-gray;
    margin: 12px 34px 0 0;
    text-transform: uppercase;
}

.cart__grand-total-price {
    color: $red-ruby-rose;
}

.cart__total-price-line {
    margin: 21px auto 0 auto;
}

.cart__total-button {
    min-width: 273px;
    min-height: 50px;
    @include font(16px, 19px, 300);
    color: $white-color;
    text-transform: uppercase;
    text-align: center;
    background-color: $red-rose-color;
    border: none;
    margin-top: 17px;
    align-self: center;

}