.catalog {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(3, 581px);
    justify-content: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.catalog-filter {
    position: relative;
    width: 71%;
    margin: 0 auto;
}

.catalog-filter__parameter {
    min-height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-filter__options {
    display: block;
    background: transparent;
    border: none;
    text-transform: uppercase;
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    @include font(14px, 17px, 600);
}

.alert {
    display: none;
    position: absolute;
    top: 30%;
    transform: translate(-2%, 1%);
    color: $red-rose-color;
    text-transform: uppercase;
    @include font(14px, 17px, 600);
    z-index: 500;
}

.catalog-filter__options:hover+.alert {
    display: block;
}

.catalog-filter__radio {
    display: none;
}

.catalog-filter__radio-label {
    display: inline-block;
    position: relative;
    padding: 0 30px 6px 31px;
    @include font(14px, 16px, 400);
    color: $darker-gray;
}

.catalog-filter__radio-label::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    left: 0;
    top: 2px;
    border: 1px solid #A4A4A4;
}

.catalog-filter__options:active+.alert {
    display: block;
}

.catalog-filter__item {
    margin: 27px 0 27px 0;
}

.catalog-filter__sub-title {
    @include font(14px, 17px, 400);
    text-decoration: none;
    color: $red-ruby-rose;
}

.catalog-filter__line {
    transform: translate(0, -10px);
}

.catalog-filter__sub-navigation-link {
    display: block;
    @include font(14px, 17px, 400);
    text-decoration: none;
    color: $darker-gray;
    text-transform: capitalize;
    margin: 0 0 11px 34px;
}

.catalog__scroll {
    margin: 48px auto 96px auto;
}

.catalog__scroll-control {
    width: 283px;
    height: 43px;
    border: 1px solid #EBEBEB;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog__scroll-text {
    text-decoration: none;
    @include font(16px, 19px, 300);
    color: $middle-gray-color;
}

.catalog__scroll-item:first-child {
    margin: 0 0 0 15px;
    transform: translate(0, -2px);
}

.catalog__scroll-item:last-child {
    margin: 0 15px 0 0;
    transform: translate(0, -2px);
}