.promotions__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promotions__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotions__item--woman {
    background-image: url("../img/promotion-woman.jpg");
    background-size: cover;
}

.promotions__item--man {
    background-image: url("../img/promotion-man.jpg");
    background-size: cover;
}

.promotions__item--kids {
    background-image: url("../img/promotion-kids.jpg");
    background-size: cover;
}

.promotions__item--accesories {
    background-image: url("../img/promotion-accesories.jpg");
    background-size: cover;
    width: 100%;
    text-decoration: none;
    margin-top: 30px;
}

.promotions__title {
    color: $white-color;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.promotions__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: $dark-pink-color;
    text-align: center;
    text-transform: uppercase;
}

.promotions__link {
    text-decoration: none;
}
